
<div class="card text-center container">
  <div class="card-header">
    <app-navigation></app-navigation>
  </div>
  <div class="card-body">
      <div class="row align-items-center" >
        <div class="col-md-12">
          <div class="card shadow-2-strong" style="border-radius: 1rem;">
            <div class="card-body p-5 text-center">

              <h3 class="mb-5">Sign in</h3>

              <div class="form-outline mb-4">
                  <label class="form-label" for="typeEmailX-2">Email</label>
                <input type="email" [(ngModel)]="credentials.email" id="typeEmailX-2" class="form-control form-control-lg" />
              </div>

              <div class="form-outline mb-4">
                <label class="form-label" for="typePasswordX-2">Password</label>
                <input type="password" [(ngModel)]="credentials.password" id="typePasswordX-2" class="form-control form-control-lg" />
              </div>

              <button [hidden]="!loginLoad" class="btn btn-lg form-control">
                <div class="loader">
                  <div class="loaderBar"></div>
                </div>
              </button>
              <button [hidden]="loginLoad" class="btn btn-primary btn-lg btn-block" #loginBtn>Login</button>
            </div>
          </div>
          <div class="card border-warning mb-3">
            <div class="card-header">Prerequisites</div>
            <div class="card-body text-warning">
              <h5 class="card-title">Account Creation</h5>
              <p class="card-text">Before you can use this website you must have an account/create an account with <a href="https://mtrac.ternary.digital/" target="_blank">mtrac official website</a>. That said this website is compatible with the offical mtrac website backend, more information about this website <a routerLink="../about">here</a>.</p>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>
