<app-navigation></app-navigation>



<form *ngIf="defRac$ | async" class="container-sm p-3" [formGroup]='racControl' novalidate >
  <div class="form-group"><h1 class="text-center">SEND RAC</h1></div>
  <div class="form-group">
    <label for="hub">Hub</label>

    <div [hidden]="!hubNodesLoad" class="form-control">
      <div class="loader">
        <div class="loaderBar"></div>
      </div>
    </div>


    <select [hidden]="hubNodesLoad" class="form-control" formControlName="hubId" id="hub">
      <option value=""></option>
      <option *ngFor="let p of hubNodes$|async" [value]="p.id" [selected]="racControl.value.hubId === p.id">{{p.shortName}}</option>
    </select>
  </div>
  <div class="form-group">
    <label for="node">Node</label>
    <div [hidden]="!hubNodesLoad" class="form-control">
      <div class="loader">
        <div class="loaderBar"></div>
      </div>
    </div>
    <select [hidden]="hubNodesLoad" class="form-control" formControlName="nodeId" id="node">
      <option value=""></option>
      <option *ngFor="let n of nodes$|async" [value]="n.id" [selected]="racControl.value.nodeId === n.id">{{n.shortName}}</option>
    </select>
  </div>
  <div class="form-group">
    <button [hidden]="!hubNodesLoad" class="btn form-control">
      <div class="loader">
        <div class="loaderBar"></div>
      </div>
    </button>
    <button [hidden]="hubNodesLoad" class="btn btn-light" #refreshBtn>refresh Hub and Node options</button>
  </div>
  <div class="form-group" *ngFor="let m of mainStuff">
  <ng-template [ngIf]="m.fieldName === 'aviDate'" [ngIfElse]="other">
      <label>{{m.title}}</label>
      <input #autoAvi [aria-label]="m.title" matInput [formControlName]="m.fieldName" [matAutocomplete]="auto" [type]="m.type"
           class="form-control" [value]="(avi$|async)"
           >
    <mat-autocomplete  #auto="matAutocomplete">
      <mat-option [hidden]="!(avi$ | async)"  [value]="(avi$ | async)" style="text-align:right">
        {{(avi$ | async) | date:'mediumDate' }}
      </mat-option>
    </mat-autocomplete>
    </ng-template>
    <ng-template #other>
      <ng-template [ngIf]="m.fieldName === 'vehicleNo'" [ngIfElse]="another">
        <label>{{m.title}}</label>
        <input [type]="m.type" [formControlName]="m.fieldName" class="form-control" (focusout)="vnFocus()">
      </ng-template>
      <ng-template #another>
        <label>{{m.title}}</label>
        <input [type]="m.type" [formControlName]="m.fieldName" class="form-control">
      </ng-template>
    </ng-template>
  </div>
  <div class="form-group">
    <label>Detail ID(optional)</label>
    <input type="text"  class="form-control">
  </div>
  <fieldset class="form-group">
    <div class="row">
      <legend class="col-form-label col-sm-2 pt-0"><h3>{{driverChecklist.title}}</h3></legend>
      <div class="col-sm-10">
        <div class="form-check" *ngFor="let f of driverChecklist.fields"><!--make this an observalbe-->
          <input class="form-check-input" type="checkbox" name="driverChecklist"  [value]="f[1]" [checked]="(defRac$ | async).driverChecklist.includes(f[1])" (change)="onCheckboxChange($event)">
          <label class="form-check-label" for="gridRadios1">
            {{f[0]}}
          </label>
        </div>
      </div>
    </div>
  </fieldset>
  <fieldset class="form-group">
    <div class="row">
      <legend class="col-form-label col-sm-2 pt-0 "><h2 >Risk Fields</h2></legend>
      <div class="col-sm-10 ">
        <ng-container *ngFor="let i of racRiskFields">
          <div class="row">
            <label [for]="i.fieldName" class="col-form-label"> <h3>{{i.title}}</h3></label>
          </div>
          <div class="form-check" *ngFor="let field of i.fields">
              <input class="form-check-input" type="radio" [formControlName]="i.fieldName" [name]="i.fieldName" [value]="field[1]"  [checked]="(defRac$ | async)[i.fieldName] === field[1]">
              <label class="form-check-label" >
                {{field[0]}}
              </label>
          </div>
        </ng-container>
        <div class="row">
          <label for="standingOrder" class="col-form-label"> <h3>Standing Order</h3></label>
        </div>
        <div class="form-check" >
            <input class="form-check-input" type="checkbox" formControlName="standingOrder" name="standingOrder" [value]="(defRac$ | async).standingOrder"  [checked]="(defRac$ | async).standingOrder" (change)="onSOChange($event)">
            <label class="form-check-label" >
              I have read the MT-RAC standing orders
            </label>
        </div>
      </div>
    </div>
  </fieldset>

  <div class="form-group">

    <ul class="list-group" *ngFor="let k of racControl.controls | keyvalue">
      <ng-template [ngIf]="racControl.get(k.key).errors !== null">
        <li class="list-group-item text-danger" *ngFor="let f of racControl.get(k.key).errors |keyvalue">{{f.value}}</li>
      </ng-template>
    </ul>
  </div>
  <div class="row d-flex justify-content-center ">
    <button [hidden]="!sendRacLoad" class=" btn form-control">
      <div class="loader">
        <div class="loaderBar"></div>
      </div>
    </button>
     <button [hidden]="sendRacLoad" class="btn btn-info" [disabled]="racControl.invalid" #sendBtn>SEND RAC</button>
  </div>
 </form>
